# dependencies
/.template
/.npm-global
/node_modules
/.pnp
.pnp.js
.template

# testing
/coverage

# build
# /dist
# /build

# next.js build output
# .next

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env

# vercel
.vercel

# editor
.idea