@import './reset.css';
@import './animations.css';

body {
  font-family: 'Poppins', 'Montserrat', 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: .875rem;
  background: var(--main-background);
}

@keyframes load {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
